<h1>My checks: (detailled report)</h1>

<% @checks.each do |check| %>
    <p>Hostname: <%= check.hostname %></p>
    <p>Risk score: <%= check.score %>%</p>
    <p>IP: <%= check.ip %></p>
    <p>Number of vulnerabilities found: <%= check.vulnerabilities.count %></p>
    <p>Subdomains found: <%= check.attacksurface["hosts"].count %></p>
    <p><%= link_to 'See full report', check_full_report_path(check) %></p>
    <br>
<% end %>

