
<div class="banner-green glossary">
  <%= render 'shared/navbar' %>
  <div class="profile-header-container">
    <p class="page-description profile-title">Welcome back, <%= current_user.firstname %>! </p>
    <p class="page-description profile-small-title">Good to see you.</p>
    <p class="page-description profile-question">Need any help? </p>
    <a href="#contact-us-page" class="profile-button-white profile-button-contact scroll contact-button">Contact us</a>
  </div>
   <div class="page-description user-details">
   <p>Edit profile <a href="<%= edit_user_path(current_user) %>"><i class="far fa-edit white"></i></a></p>
   <% if current_user.firstname && current_user.lastname %>
    <p><%= current_user.firstname %> <%= current_user.lastname %></p>
   <% end %>
   <p><%= current_user.email %></p>
    <% if current_user.company %>
    <p><%= current_user.company %></p>
   <% end %>
   </div>

  <div class="logo-banner static-logo" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>

<ul class="surveys grid">

<div class="card-container-profile">
<div class="survey-text-description">
  <p id="check-list">My checks</p>
  <p id="check-click">click on any card to access the full report</p>
</div>
<div class="orange-vector" style="background-image: url(<%= image_path('vector-orange.png') %>);">
  </div>
</div>

<div class="dashboard-container">
<% @checks.each do |check| %>

<%= link_to check_full_report_path(check, anchor: 'report-banner-1' ) do %>

<li class="survey-item">

    <p class="survey-name">
      <%= check.hostname %>
    </p>

    <p class="survey-country grid-only">
      IP: <%= check.ip %>
    </p>

    <% unless check.attacksurface.nil? %>
        <p class="survey-country grid-only">
        Subdomains found: <%= check.attacksurface["hosts"].count %>
        </p>
    <% end %>

    <p class="survey-country grid-only">
      Detected at: <%= check.created_at.strftime("%Y-%m-%d") %>
    </p>
    <div class="pull-right">

      <span class="survey-progress">
        <span class="survey-progress-bg">
          <span class="survey-progress-fg" style="width: <%= check.score %>%;"></span>
        </span>

        <span class="survey-progress-labels">
          <span class="survey-progress-label">
            <%= check.score %>%
          </span>

          <span class="survey-completes">
            Risk ports: <%= check.vulnerabilities.count %>
          </span>
        </span>
      </span>
      <div class="orange-circle-mini">
      <div class="style-clock-mini"><%= check.attacksurface["hosts"].count %>
        <div class="scan-duration" id="subdomains-found-mini">Attack Surface Points
        </div>
      </div>
    </div>

      <span class="survey-stage">
        <span class="stage draft">Draft</span>
        <span class="stage awarded">Awarded</span>
        <span class="stage live">Live</span>
        <span class="stage ended active">Ended</span>
      </span>
    </div>
  </li>
 <% end %>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="orange-vector" style="background-image: url(<%= image_path('white-vector.png') %>);">
  </div>
  </ul>
</div>
<div class="card-container-contact" id="contact-us-page">
<div class="card-wrapper">
    <div class="green-card orange">
      <div class="card-description">
        <p>
        Contact Us
        <form id="search" action="mailto:info@ceziam.com" method="post">
      <div>
      <input class="string required" id="contact-start" maxlength="255" size="50" type="text" placeholder="Full Name" autocomplete="off"/>
      <input class="string required" id="contact-start" maxlength="255" size="50" type="text" placeholder="E-mail" autocomplete="off"/>
      <input class="string required" id="contact-start" maxlength="255" size="50" type="text" placeholder="Subject" autocomplete="off"/>
      </div>
      <div class="button-loader-container">
        <input class="button-white orange-button" id="button-banner" type="submit" value="Send" />
      </div>
    </form></p>
        <p id="card-description-paragraph">
        </p>
      </div>
      <div class="card-4-image" style="background-image: url(<%= image_path('contact.png') %>);">
      </div>
    </div>
  </div>
  <div class="text-description">
    <p>Why contact us?</p>
    <p id="description-paragraph">Because we care about you! We want you to have the best website security guidence possible.</p>
  </div>
  <div class="orange-vector" style="background-image: url(<%= image_path('purple-vector.png') %>);">
  </div>

</div>


<%= render 'shared/footer' %>

