<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121868609-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121868609-1');
    </script>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500|Titillium+Web|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= display_meta_tags site: 'CEZIAM' %>
  </head>
    <%= render 'shared/navbar-blog.html.erb' %>
    <div class="container-blog">
        <div class="text-left articles-title">
        <p>LATEST ARTICLES<p>
        <% if current_user && current_user.firstname=="Haseeb" %>
<!--     <h1>Showing selected article</h1> -->
                <ul>
                    <% @articles.each do |article| %>
                    <li class="text-left title-blog">
                    <%=  article.title %>
                    </li>
                    <h4 class="description-blog"> </h4>
                    <%=   article.description.truncate_words(4) %>
                    <h4 class="description-blog red"> </h4>
                    <%= link_to 'Read more.', article_path(article) %>
                    </li> 
                    <% end %>
                </ul>
                <%= link_to 'New Article', new_article_path(@article) %>
            </div> 
        <% else %>
                <ul>
                    <% @articles.each do |article| %>
                    <li class="text-left title-blog">
                    <%=  article.title %>
                    </li>
                    <h4 class="description-blog"> </h4>
                    <%=   article.description.truncate_words(4) %>
                    <h4 class="description-blog red"> </h4>
                    <%= link_to 'Read more.', article_path(article) %>
                    </li>
                    <% end %>
                </ul>        
            </div> 
        <% end %>
        </div>  
    </div>
</html>
<script>
  const form = document.querySelector('#search');
  const gif = document.querySelector("#loading-symbol");
  form.addEventListener('submit', function(event) {
      gif.hidden = false;
  });
</script>


   