<% set_meta_tags title: 'Cyber-security checker',
    description: 'Detect your core cyber security risks including dangerous ports and attack surface with a simple website freely available to all.' %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UI components sprint</title>
     <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>
            <%= render 'shared/navbar-blog.html.erb' %>
<!-- This is basically saying if you're logged in and you are user Haseeb you can edit stuff 
the && used to guard against nil errors 
-->

<div class ="background-white">
     <div class="container-blog-medium"> 
    <!-- <div class="container text-center padded"> -->
    <% if current_user && current_user.firstname=="Haseeb" %>
    <!--     <h1>Showing selected article</h1> -->
        <p  class="title-blog-main"><%= @article.title %></p>
        <p class="title-blog-main"><%= @article.created_at.strftime("%d %B %Y")  %> by Haseeb Chaudhary</p>
        <p><%= markdown @article.description %></p>
        <%= link_to "Edit", edit_article_path(@article) %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %>
        <%= link_to 'Back', articles_path %>

        <h2>Comments</h2>
        <%= render @article.comments %>
        
        <h2>Add a comment:</h2>
        <%= render 'comments/form' %>

    <% else %>
    <!--     <h1>Showing selected article</h1> -->
        <p  class="title-blog-main"><%= @article.title %></p>
        <p><%= @article.created_at.strftime("%d %B %Y")  %> by Haseeb Chaudhary</p>
        <p><%= markdown @article.description %></p>
        <%= link_to 'Back', articles_path %>

        <h2>Comments</h2>
        <%= render @article.comments %>
        
        <h2>Add a comment:</h2>
        <%= render 'comments/form' %>

    <% end %>

    </div>
</div>
</html>
<script>
  const form = document.querySelector('#search');
  const gif = document.querySelector("#loading-symbol");
  form.addEventListener('submit', function(event) {
      gif.hidden = false;
  });
</script>