<% set_meta_tags title: 'Ceziam blog',
    description: 'Discover our articles about cyber-security' %>

<%= render 'shared/navbar-blog.html.erb' %>

<div class ="background-white">
    <div class="container-blog-medium"> 
    <p class="title-blog-main"><%= @article.title %></p>
    <p><%= @article.created_at.strftime("%d %B %Y")  %> by Haseeb Chaudhary</p>
    <p><%= markdown @article.description %></p>

    <!-- This is basically saying if you're logged in and you are user Haseeb you can edit stuff 
    the && used to guard against nil errors 
    -->

    <% if current_user && current_user.firstname == "Haseeb" %>
        <%= link_to "Edit", edit_article_path(@article) %>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>    

    <%= link_to 'Back', articles_path %>

    <h2>Comments:</h2>
    <% @article.comments.each do |comment| %>
        <p>-- <%= comment.body %></p>
    <% end %>

    <h2>Add a comment:</h2>
    <%= render 'shared/comment-form' %>
    
    </div>
</div>

<script>
  const form = document.querySelector('#search');
  const gif = document.querySelector("#loading-symbol");
  form.addEventListener('submit', function(event) {
      gif.hidden = false;
  });
</script>