<% if @article.errors.any? %>
 <h2>The following errors prevented the article from saving:</h2>
 <ul>
 <% @article.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>

<%= form_for @article do |f| %>
 <p>
   <font color="black">Title
     <%= f.label :title %><br>
    <%= f.text_area :title %>
 </p>

  <font color="black">Description</font>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
 </p>
 <p>
  <%= f.submit %>
 </p>
<% end %>
<%= link_to 'Back', articles_path %>