<% if user_signed_in?  %>
  <div class="header">
      <div class="buttons-header">
        <div class="dropdown">
          <div class="drop-down-blog">
            <button class="drop-down-blog black-burguer pulse"></button>
            <div class="dropdown-content-blog">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            <%= link_to 'My dashboard', dashboard_profile_path %>
            <%= link_to "Create new article", new_article_path %>
            <%= link_to 'Security Checkup', healthcheck_path %>
          </div>
        </div>
      </div>
    </div>
      <div class="title"><a href="/" class="thin-buttons-grey main">CEZIAM</a></div>
    </div>
  <% else %>
    <div class="header">
        <div class="buttons-header">
          <div class="dropdown">
            <div class="drop-down-blog">
              <button class="drop-down-blog black-burguer pulse"></button>
              <div class="dropdown-content-blog without-user">
              <%= link_to 'Security Checkup', healthcheck_path %>
              <%= link_to 'Security Checkup', healthcheck_path %>
              <%= link_to 'Log In', new_user_session_path %>
            </div>
          </div>
        </div>
      </div>
        <div class="title"><a href="/" class="thin-buttons-grey main">CEZIAM</a></div>
      </div>
  <% end %>
