
<% if user_signed_in?  %>
  <div class="header">
      <div class="buttons-header">
        <div class="dropdown">
          <div class="drop-down-menu">
            <button class="drop-down pulse"></button>
            <div class="dropdown-content">
            <%= link_to 'Security Checkup', pages_healthcheck_path %>
            <%= link_to 'Blog', articles_path %>
            <%= link_to 'About', about_path %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            <%= link_to 'My dashboard', dashboard_profile_path %>
            <%= link_to 'Glossary', pages_glossary_path(anchor: 'glossary-anchor') %>
          </div>
        </div>
      </div>
    </div>
      <div class="title"><a href="/" class="thin-buttons main">CEZIAM</a></div>
    </div>
  <% else %>
    <div class="header">
        <div class="buttons-header">
          <div class="dropdown">
            <div class="drop-down">
              <button class="drop-down pulse"></button>
              <div class="dropdown-content without-user">
              <%= link_to 'Blog', articles_path %>  
              <%= link_to 'Security Checkup', pages_healthcheck_path %>
              <a href="/pages/glossary">Glossary</a>
              <%= link_to 'About', about_path %>
              <%= link_to 'Log In', new_user_session_path %>
            </div>
          </div>
        </div>
      </div>
        <div class="title"><a href="/" class="thin-buttons main">CEZIAM</a></div>
      </div>
  <% end %>
