
<div class="banner-green glossary">
  <%= render 'shared/navbar' %>
  <div class="glossary-header-container">
    <p class="page-description glossary-description"> These are the people that started Ceziam. Let us tell you a bit about them.</p>
    </div>
    <div class="logo-banner static-logo" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
    </div>
    <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>

<div class="about-content-container" id="about-container">
  <div id="title-about">Founders</div>
  <div class="about-card first">
    <a href="https://www.linkedin.com/in/haseeb-chaudhary-07695938/" target="_blank">
      <%= image_tag ('hass.jpeg'), class: "profile-pic" %>
    </a>
    <div class="founder-description">
      <p><strong>Haseeb Chaudhary</strong></p>
      <p class="founder-story"><i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, iure enim quia ipsam minima, nulla, omnis dolorum eum architecto possimus eius delectus, nihil odio magnam numquam! Id rerum, a necessitatibus."</i></p>

    </div>
  </div>
  <div class="about-card">
    <a href="https://www.linkedin.com/in/jonathansitti/" target="_blank">
      <%= image_tag ('jonna.jpeg'), class: "profile-pic" %>
    </a>
    <div class="founder-description">
      <p><strong>Jonathan Sitti</strong></p>
      <p class="founder-story"><i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, iure enim quia ipsam minima, nulla, omnis dolorum eum architecto possimus eius delectus, nihil odio magnam numquam! Id rerum, a necessitatibus."</i></p>

    </div>
  </div>
  <div class="about-card">
    <a href="https://www.linkedin.com/in/santiago-eid-08845515b/" target="_blank">
      <%= image_tag ('santi.jpg'), class: "profile-pic" %>
    </a>
    <div class="founder-description">
      <p><strong>Santiago Eid</strong></p>
      <p class="founder-story"><i>"I am a Bolivian Environmental Engineer graduate. I was introduced to Ceziam during a coding bootcamp in Barcelona called Le Wagon. Ceziam was our project, but became much more. After two weeks creating Ceziam with the rest of the founders, I discovered a new-found passion for cybersecurity."</i></p>

    </div>
  </div>
  <div class="about-card">
    <a href="">
      <%= image_tag ('haruka.jpeg'), class: "profile-pic" %>
    </a>
    <div class="founder-description">
      <p><strong>Haruka Aoki</strong></p>
      <p class="founder-story"><i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, iure enim quia ipsam minima, nulla, omnis dolorum eum architecto possimus eius delectus, nihil odio magnam numquam! Id rerum, a necessitatibus."</i></p>

    </div>

  </div>
  <div class="orange-vector purple-summary" style="background-image: url(<%= image_path('purple-vector.png') %>);">
  </div>
</div>
<%= render 'shared/footer' %>
