<!--
<%= link_to "Home Page", root_path %>

<h1> This will be the new healthcheck page <h2>
<p> Hello world </p>
<p> .....under construction </p> -->

<!-- SEO Meta-tags -->
<% set_meta_tags title: 'Cyber-security checker',
                description: 'Detect your core cyber security risks including dangerous ports and attack surface with a simple website freely available to all.' %>



<div class="banner-green">
    <!-- Here I just created _navbar-centred in /shared -->
    <%= render 'shared/navbar' %>
    <div class="header-description">
        <h1><p class="page-description">Uncover Your Cyber Security Risks with a Security Checkup</p></h1>
        <div class="seccheck-banner" style="background-image: url(<%= image_path('seccheckup3.png') %>);">
        </div>
    </div>
    <div class="logo-banner" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
    </div>
    <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
    </div>
</div>

<div class="card-container2 white" >
    <div class="text-description">
    <p id="cybersecurity-healthcheck">Time to Give Your Enterprise a Cyber Security Checkup</p>
    <p class="grey" id="description-paragraph">89% of all organisation are not protected against cyber attacks.<br />
    The best way to resolve these problems is with a no-cost Security CheckUp.<br /> The experts from Ceziam will analyse your internet facing applications and network.<br /> After the analysis you will recieve a comprehensive report, if high risk issues are found we will ask you to consider booking a meeting with us to discuss how we can assist you to resolve threats discovered. You’re under no obligation though!</p>
        <div class="grey" id="description-paragraph"><p id="cybersecurity-healthcheck">Cyber Security Check includes:</p>
        <ul>
            <li><a href="#">Web Application risks</a></li>
            <li><a href="#">Dangerous IT infrastructure</a></li>
            <li><a href="#">Attack surface you have exposed</a></li>
            <li><a href="#">Key Cyber Security recommendations</a></li>
        </ul>
        </div>
    </div> 
    <div class="card-wrapper">
        <div class="card-pink">
            <div class="card-description2">
            
            <form action="https://formspree.io/info@ceziam.com" method="POST">
            <p class="signup"> SIGN UP FOR A FREE SECURITY CHECKUP TODAY </p>
            First name:<br>
            <input 
                type="text" 
                name="firstname"
                style="background-color:white; 
              vertical-align:9px;color: #4F4F4F">
              <br>
            Last name:<br>
            <input 
                type="text" 
                name="lastname"
                style="background-color:white; 
              vertical-align:9px;color: #4F4F4F">
              <br>
            Telephone:<br>
            <input 
                type="text" 
                name="telephone"
                style="background-color:white; 
              vertical-align:9px;color: #4F4F4F">
            <br>
            Country:<br>
            <input 
                type="text" 
                name="Country"
                style="background-color:white; 
              vertical-align:9px;color: #4F4F4F"> 
            <br>
            Company:<br>
            <input 
                type="text" 
                name="Company"
                style="background-color:white; 
              vertical-align:9px;color:black">    
            <br>
            <br>
            <input type="submit" value="Submit">
            </form>
            </div> 
            </div> 
        </div>
    </div>
</div>
<div class="card-container3" id="card-3">
  <div class="orange-vector" style="background-image: url(<%= image_path('purple-vector.png') %>);">
  </div>
</div>
<%= render 'shared/footer' %>
<script>
  const form = document.querySelector('#search');
  const gif = document.querySelector("#loading-symbol");
  form.addEventListener('submit', function(event) {
      gif.hidden = false;
  });
</script>


