
<div class="banner-green">
  <div class="header">
    <div class="drop-down" style="background-image: url(<%= image_path('drop-down.png') %>);">
  </div>
    <div class="title"><p>CEZIAM</p></div>
  </div>
  <div class="header-description">
    <p class="header-title">Welcome to Ceziam</p>
    <p class="page-description"> Check your websites presence and security here.</p>
    <form action="/checks" method="post">
      <div>
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input class="string required" id="user_username" maxlength="255" name="hostname" size="50" type="text" placeholder="Insert your URL..." autocomplete="off"/>
      </div>
      <input id="button-white" name="commit" type="submit" value="Check" />
    </form>
  </div>
  <div class="logo-banner" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>

<div class="card-container">
  <div class="title" id="grey"><p>CEZIAM</p></div>
  <div class="card">
    <div class="card-description">
      <p>Step 1</p>
      <p id="card-description-paragraph">Enter your website on the check-bar at the top of the page.</p>
    </div>
    <div class="card-1-image" style="background-image: url(<%= image_path('card-1.png') %>);">
    </div>
  </div>
  <div class="text-description">
    <p>How it works</p>
    <p id="description-paragraph">We use top of the knotch algorithms
    to analize your websites structure and
    find small cracks that hackers can
    take advantage off.</p>
  </div>
  <div class="orange-vector" style="background-image: url(<%= image_path('vector-orange.png') %>);">
  </div>
</div>

<div class="card-container alternate">
  <div class="title white" id="grey"><p>CEZIAM</p></div>
  <div class="text-description white">
    <p>What is cybersecurity?</p>
    <p class="white" id="description-paragraph">Cybersecurity is one of the most important aspects of the internet but also one of the most obscure ones. Here, you can find clear information to understand better what it entails.</p>
  </div>
  <div class="card-white">
    <div class="card-description grey">
      <p>Step 1</p>
      <p class= "grey" id="card-description-paragraph">Enter your website on the check-bar at the top of the page.</p>
    </div>
    <div class="card-2-image" style="background-image: url(<%= image_path('cybersecurity.png') %>);">
    </div>
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>

<div class="card-container">
  <div class="title" id="grey"><p>CEZIAM</p></div>
  <div class="green-card">
    <div class="card-description">
      <p>Step 1</p>
      <p id="card-description-paragraph">Enter your website on the check-bar at the top of the page.</p>
    </div>
    <div class="card-3-image" style="background-image: url(<%= image_path('hacker.png') %>);">
    </div>
  </div>
  <div class="text-description">
    <p>Why do you need it?</p>
    <p id="description-paragraph">Checking your websites vulnerability
    is very neccesary if you want hackers
    to have a really difficult time trying to harm you. Remember that a kick-ass website is no good with lame security. Nobody will trust it!</p>
  </div>
  <div class="orange-vector" style="background-image: url(<%= image_path('purple-vector.png') %>);">
  </div>
</div>

