<div class="container-log-in">
  <div class="row">
    <div class="header">
    <div class="buttons-header">
      <div class="dropdown">
        <div class="drop-down">
          <button class="drop-down"></button>
          <div class="dropdown-content">
          <a href="/users/sign_out">Log Out</a>
          <a href="#">Profile</a>
          <a href="#">My Checks</a>
        </div>
      </div>
    </div>
    <a href="/users/sign_in" class="thin-buttons">Sign In</a>
    <a href="/users/sign_up" class="thin-buttons">Sign Up</a>
    <a href="" class="thin-buttons">Glossary</a>
  </div>
    <div class="title"><a href="/" class="thin-buttons main">CEZIAM</a></div>
  </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">

          <div class="form-login">
            <p class="white" id="log-in-paragraph">Log in to your user account to view your profile and access your security checks.</p>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email, required: false, autofocus: true, placeholder: "E-mail", class: "input-fields" %>
                  <%= f.input :password, required: false, placeholder: "Password", class: "input-fields" %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  <div class="button-box">
                    <%= f.button :submit, "Log in", class: "button-white alternate-log-in" %>
                    <%= render "devise/shared/links" %>
                    <div class="line"></div>
                    <a href="#" class="thin-buttons">Use Google +</a>
                    <a href="#" class="thin-buttons">Use Facebook</a>
                    <hr>
                  </div>
                </div>
              <% end %>
          </div>


          <div class="sns-login">
          </div>
      </div>
  </div>
</div>
