

<div class="banner-green">
  <div class="header">
    <div class="drop-down" style="background-image: url(<%= image_path('drop-down.png') %>);">
  </div>
    <div class="title"><p>CEZIAM</p></div>
  </div>
  <div class="header-description">
    <p class="header-title">Website Checker</p>
    <p class="page-description"> On this page you will
    be able to see the main concerns
    regarding your website.</p>
  </div>
  <div class="logo-banner" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>

<div class="title-container">
  <div class="title results" id="grey"><p>Security Check Summary</p></div>
  <div class="orange-vector" style="background-image: url(<%= image_path('vector-orange.png') %>);">
  </div>
</div>

<div class="card-container alternate">
  <div class="title white" id="grey"><p>CEZIAM</p></div>
    <div class="info-table">
      <h1>Check for: <%= @check.hostname %></h1>
        <h3>Risk score: <%= @check.score %>%</h3>

        <p>IP: <%= @check.ip %></p>
        <p>Scan duration: <%= @check.scandur %> seconds</p>

        <% if current_user %>

        <p>Scanned by: <%= @check.user.email %></p>

        <h3>Vulnerabilities:</h3>
        <ul>
        <% @check.vulnerabilities.each do |vuln| %>
          <li>Port: <%= vuln.port %></li>
          <li>State: <%= vuln.state %></li>
          <li>Protocol: <%= vuln.protocol %></li>
          <li>Service: <%= vuln.service %></li>
          <li>Reason: <%= vuln.reason %></li>
          <li>Weakness: <%= vuln.weakness %></li>
          <li>Risk: <%= vuln.risk %></li>
          <li>Recommandation: <%= vuln.recommandation %></li>
          <li>Netrisk: <%= vuln.netrisk %> </li>
            <br>
        <% end %>
        </ul>


        <% else %>

        <h4>Sign up to get our detailed report</h4>

         <h5>Attack Surface: <%= puts @subdomains_neat %> </h5>

        <%= link_to 'See full report', dashboard_detailed_results_path %>

        <% end %>
      </div>

  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>

<div class="title-container">
  <div class="orange-vector" style="background-image: url(<%= image_path('purple-vector.png') %>);">
  </div>
</div>
