<h1>Check for: <%= @check.hostname %></h1>

<h3>Global score: <%= @check.global_score %>%</h3>

<p>IP: <%= @check.ip %></p>
<p>Scan duration: <%= @check.scandur %> seconds</p>
<p>User id: <%= @check.user_id %></p>

<h3>Vulnerabilities:</h3>
<ul>
<% @check.vulnerabilities.each do |vuln| %>
  <li>Port: <%= vuln.port %></li>
  <li>State: <%= vuln.state %></li>
  <li>Protocol: <%= vuln.protocol %></li>
  <li>Service: <%= vuln.service %></li>
  <li>Reason: <%= vuln.reason %></li>
  <li>Weakness: <%= vuln.weakness %></li>
  <li>Risk: <%= vuln.risk %></li>
  <li>Recommandation: <%= vuln.recommandation %></li>
  <li>Netrisk: <%= vuln.netrisk %></li>
  <br>
<% end %>
</ul>

